
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link href="/public/assets/build/app.css" rel="stylesheet">
    <script defer type="module" src="/public/assets/build/app.js"></script>
  </head>
  <body>
    <p class="text-7xl text-blue-800">{{ message }}</p>

  </body>
</html>
